@import 'components/components';

.exposition{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
    &__bg{
        background: url(../img/fond-expo.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: hidden;
    }
}
.container-exposant{
    display: flex;
    z-index: 9;
    padding: 7rem;
    height: 100%;
}
.slide-exposant{
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}
.exposant{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 999;
    color: $c-main;
    align-items: center;

    &__name{
        font-size: 6rem!important;
        h1{
            font-family: 'Barlow Condensed', 'arial', sans-serif;
            font-size: 6rem!important;
            margin-bottom: 3rem;
            color: $c-main!important;
            text-align: left;
        }
        font-family: 'Barlow Condensed', 'arial', sans-serif;
        font-size: 8.2rem;
        margin-bottom: 3rem;
        color: $c-main!important;
        text-align: left;
    }
    &__text{
        font-family: 'Carrois Gothic', 'arial', sans-serif;
        font-size: 1.8rem;
        line-height: 2.8rem;
        
    }
    &__wrap-img{
        display: flex;
        margin-top: 2rem;
    }
    &__draw{
        display: flex;
        align-content: flex-start;
        margin-right: 2rem;
        &-title{
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-family: 'Barlow Condensed', 'arial', sans-serif;
            letter-spacing: 1px;
            opacity: 0.5;
        }
        img{
            width: 100%;
            border: 1px solid rgba(70, 142, 231, 0.40);
            border-radius: 2px;
            padding: 1rem;
            min-width: 28rem; // à enlever après intégration du contenu
            min-height: 35rem; // à enlever après intégration du contenu
        }
        .wrapper-img{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            &--2{
                margin-top: 15rem;
            }
        }
    }
    &__wrap-pic-sound{
        display: flex;margin-bottom:2rem;align-items: center;
    }
    &__picture{
        img{
            width: 15rem;
            border: 1px solid rgba(70, 142, 231, 0.4);
            border-radius: 2px;
            padding: 1rem;
        }
        
    }
    &__sound{
        display: flex;
        height: 100%;
        justify-content: center;
        padding-bottom: 2rem;
        margin-left: 2rem;
        img{
            max-height: 10rem;
        }
    }
    &__wrap1{
        flex: 1
    }
    &__wrap2{
        flex: 1;
        display: flex;    
    }
}

.wrap-of-wrap{
    height: 100%;
    align-items: center;
    display:flex;
    margin-left: 10rem;

}