@import 'components/components';

.idee{
    color: $c-main-dark;
    font-family: 'Barlow Condensed', 'arial', sans-serif;
    padding: 2rem 10rem;
    &__content{
        padding-top: 12rem;
    }
    &__logo-ajira {
        color: $c-main;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1rem 1.5rem;
        border: solid 2px $c-main;
        text-align: center;
        display: inline-block;
        padding-left: 19rem;
        font-family: 'Barlow Condensed', 'arial', sans-serif;
        font-size: 2rem;
        position: fixed;
        top: 2rem;
        left: -175px;
        z-index: 999;
      }
      &__h2{
        font-size: 6rem;
        margin-bottom: 8rem;
        font-family: 'Barlow Condensed', 'arial', sans-serif;
      }
      &__h3{
        font-size: 4rem;
        font-family: 'Barlow Condensed', 'arial', sans-serif;
        margin-bottom: 3rem;
        margin-top: 6rem;
      }
      &__text{
        font-size: 2.2rem;
        font-family: 'Carrois Gothic', 'arial', sans-serif;
        line-height: 3.2rem;
        margin-bottom: 2rem;
        &--stats{
          margin-bottom: 1rem;
        }
      }
      &__stats{
        margin-left: 2.5rem;
      }
      &__stats-items{
        list-style-type: disc;
      }
}


.close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 32px;
    height: 2rem;
    opacity: 1;
    z-index: 99999;
  }
  .close:hover {
    opacity: 1;
    
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 36px;
    width: 2px;
    background-color: $c-main;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  


