@import 'components/components';


// Nav 

nav {
  color: $c-main-dark;
  font-family: 'Barlow Condensed', 'arial', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  li {
    padding-bottom: 1rem;
    transition: 0.3s; 
    z-index:99;
    :hover {
      color:$c-li-hover;
      transition: 0.3s; 
    }
    :last-child {
      padding-bottom: 0; 
    }
  }
}

// Home Nav

.nav-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
  
.home-nav{ 
    z-index:999;
    font-family: 'Barlow Condensed', 'arial', sans-serif;
    display: flex;
    width: 500px;
    justify-content: space-between;

    &__item{
      font-size: 5rem;
      color: $c-main;
      text-align: center;
    }

    nav{
      font-size: 5rem;
      color: $c-main;
      text-align: center;
        li:hover {
          color:$c-li-hover;
          transition: 0.3s;
    }
  }
}
