#audioplayer{
    width: 100px;
    height: 100px;
    border: solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
	align-items: center;
	
}

.pButton{
    height: 80px; 
    width: 80px;
    border: none;
    float:left;
    outline:none;
}

.play{
    background: url('../img/play.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.pause{
    background: url('../img/pause.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}
